<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {% for link in linklists.navbar.links %}
            <a href="{{ link.url }}"><span class="navbar-words">{{ link.title }}</span></a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>