<div uib-carousel active="active" interval="5000" no-wrap="noWrapSlides">
  <div uib-slide ng-repeat="slide in vm.slide track by $index" index="$index">
    <img ng-src="{{slide}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Only the highest quality beads and supplies.</h4>
        <p>{{slide.text}}</p>
      </div>
  </div>
</div>


<div class="collection-list-container">
  <div class="container">
    <div class="col-md-3 col-sm-9">
      <ul class="list-group">
        <li class="list-group-item">
          <h2>Categories</h2>
        </li>
        <a href="" ng-click="vm.getSubmenuLinks(link)" ng-repeat="link in vm.gridMenuLinks">
          <li class="list-group-item" ng-class="{'active' : vm.activeLink === link.parent}">
            <span class="pull-right" ng-class="{'arrow-right' : vm.activeLink == link.parent}"></span>
            {{link.parent}}
          </li>
        </a>
      </ul>
    </div>
    <div class="col-md-9 col-sm-9 collection-grid">
      <div class="col-md-4 col-sm-9 collection-item" ng-repeat="submenu in vm.submenuLinks">

        <a ng-href="/collections/swarovski/{{submenu.handle}}" ng-if="vm.activeLink === 'Swarovski'">
          <img ng-src="{{submenu.image.src}}" class="img-responsive center">
          <p class="text-center">{{submenu.title}}</p>
        </a>

        <a ng-href="/collections/tierracast/{{submenu.handle}}" ng-if="vm.activeLink === 'TierraCast'">
          <img ng-src="{{submenu.image.src}}" class="img-responsive center">
          <p class="text-center">{{submenu.title}}</p>
        </a>

        <a ng-href="/collections/{{submenu.handle}}" ng-if="!(vm.activeLink == 'Swarovski' || vm.activeLink == 'TierraCast')">
          <img ng-src="{{submenu.image.src}}" class="img-responsive center">
          <p class="text-center">{{submenu.title}}</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="featured-section">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Featured Products</h3>
      </div>
      <div class="panel-body">
        <div class="row" style="display: flex; flex-wrap: wrap;">
          <div class="col-md-2 col-sm-9" ng-repeat="product in vm.silverProducts">
            <div class="thumbnail">
              <span class="sale-label" ng-if="product.variants[0].compare_at_price > 0">Sale</span>
              <a href="/products/{{product.handle}}">
                <img ng-src="{{product.images[0].src}}" alt="" class="img-responsive">
              </a>
              <div class="caption">
                <p><a href="/products/{{product.handle}}">{{product.title}}</a></p>
              </div>
              <div class="caption-price text-center">
                <span class="current-price" indexprice="product.variants[0].price"></span>
                <span class="regular-price" ng-if="product.variants[0].compare_at_price > 0" indexprice="product.variants[0].compare_at_price"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="other-products-section">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Best Sellers</h3>
      </div>
      <div class="panel-body">
        <div class="row" style="display: flex; flex-wrap: wrap;">
          <div class="col-md-2 col-sm-6" ng-repeat="product in vm.blackProducts">
            <div class="thumbnail">
              <span class="sale-label" ng-if="product.variants[0].compare_at_price > 0">Sale</span>
              <a href="/products/{{product.handle}}">
                <img ng-src="{{product.images[0].src}}" alt="" class="img-responsive">
              </a>
              <div class="caption">
                <p><a href="/products/{{product.handle}}">{{product.title}}</a></p>
              </div>
              <div class="caption-price text-center">
                <span class="current-price" indexprice="product.variants[0].price"></span>
                <span class="regular-price" ng-if="product.variants[0].compare_at_price > 0" indexprice="product.variants[0].compare_at_price"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="brands-section">
    <div class="row">
      <div class="col-md-4">
        <div class="promo">
          <div class="block">
            <div class="block-title">Free shipping</div>
            <div class="block-subtitle">on orders over $50.</div>
            <div class="block-body">This offer is valid on all our store items.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="promo">
          <div class="block">
            <div class="block-title">Newsletter</div>
            <div class="block-subtitle">Sign up for promotions and new designs!</div>
            <div class="col-md-6 col-md-offset-3">
              <form action="//bestbuybeads.us14.list-manage.com/subscribe/post?u=a960c672f8f237f67c61c2aed&amp;id=9898bdfede" method="post"
                id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                  <div class="form-group">
                    <input type="email" value="" placeholder="your-email@example.com"
                      name="EMAIL" id="mail" class="form-control" aria-label="your-email@example.com" autocorrect="off" autocapitalize="off">
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary" name="subscribe" id="subscribe" value="Subscribe">
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="promo">
          <div class="block">
            <div class="block-title">On Sale Items</div>
            <div class="block-subtitle">Find our latest items that are on sale.</div>
            <div class="block-body"><a href="" class="btn btn-danger"> On sale items</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
